@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 15px;
  border-bottom: 1px solid #f2f2f2;
  border-bottom: 2px solid black;
  border-top: 2px double #f1356d;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 20px;
  padding: 6px;
  text-decoration: none;
}

.navbar a:hover{
  color: rgb(63, 233, 12);
}

.content{
  margin: 40px auto;
  padding: 20px;
  max-width: 700px;
}

.each-blog-view{
  padding: 5px;
  margin: 20px auto;
}

.each-blog-view h2{
  margin-bottom: 10px;
  font-size: xx-large;
  color: rgb(153, 13, 83);
}

.each-blog-view p{
  display: inline;
}

.author-name{
  font-size: large;
  font-weight: bold;
}

.each-blog-view:hover{
  box-shadow: 11px 10px 10px 5px rgba(71,56,56,0.75);
-webkit-box-shadow: 11px 10px 10px 5px rgba(71,56,56,0.75);
-moz-box-shadow: 11px 10px 10px 5px rgba(71,56,56,0.75);
}

.delete-button{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.each-blog-view .LinkClass{
  text-decoration: none;
}

.blog-details h1{
  font-size: xx-large;
  color: red;
  margin-bottom: 10px;
}

.blog-details p{
  display: inline;
  font-size: medium;
  color: rgb(253, 0, 13);
}

.blog-details .data-content{
  display: block;
  margin: 20px 0;
  font-size: large;
  color: black;
  text-align: justify;
  text-justify: inter-word;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

